<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #5E548E">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #231942;" href="/"><strong>MovieSearch</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #231942;" href="/">&#10023; Home &#10023;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #231942;" href="/search">&#10023; Search &#10023;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #231942;" href="https://github.com/veronikatsareva">&#10023; <i class="fa fa-github" style="color:#40335e"></i> GitHub &#10023;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block content %} {% endblock %}
        </main>
        <footer>
            <div class="container-fluid" style="background-color: #5E548E">
                <p style="text-align:right; margin: 0px; padding: 10px; color: #231942;">&copy; 2026 </p>
            </div>
        </footer>
    </body>
</html>